@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.font-common{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    
    font-style: normal;
}

.bg-c{
    
    background-color:rgba(255, 144, 14, 0.1) ;
    
}
.nav-con{
    display: flex;
    justify-content: space-between;
    
    
}
.nav-items{
    
}
.nav-list{
    display: flex;
    list-style: none;
    
}
.na-title{
    font-weight: bold;
    font-size: 3rem;
}
.nav-list{
    align-items: center;
}
.links{
    text-decoration: none;
    margin-right: 40px;
    
}
.margin{
    max-width: 1440px;
    margin: 0 auto ;
}
.dark2{
    color: #424242;
}
.banner{
    text-align: center;
}
.ban-ti{
    font-weight: bold;
    font-size: 4rem;

}
.btn-primary{
    background-color: #FF900E;
    padding: 20px 24px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
    border-radius: 8px;
}
.banner-des{
    color: #727272;
}
.banner-image{
    width: 100%;
    margin-top: 32px;
    margin-bottom: 40px;
}
main > section{
    margin-top: 130px;
}
.image-con{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.feature-con{
    display: flex ;
    
}
.dark3{
    color: #727272;
}
.feature-des{
    margin-left: 73px;
    padding-top: 12.5rem;
    padding-bottom: 12.5rem;
    max-width: 537px;
    
}
.feature-title{
    font-size: 2.8rem ;
    
}
.feature-para{
    margin-top: 24px;
    margin-bottom: 32px;
}
#p1{
    font-weight: 500;
}

#p3{
    color: #FF900E;

}
.love-feature{
    display: flex;
    gap: 140px;

}
#l-ti{
    font-weight: bold;
    font-size: 2.8rem;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.card-sec{
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0  rgba(0, 0, 0, 0.06) ;
    padding: 30px 42px 30px 30px;
}
.l-common-ti{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 0 ;
}
.badge-con{
    padding: 45px;
    border: none;
}
.badge{
    background-color: #FF900E;
    color: #FFFFFF  ;
    margin-left: -100px;
    margin-top: -100px;
    border: none;
    border-radius: 8px;
}
#badge1{
    font-weight: bold;
    font-size: 4rem;
}
#badge2{
    font-weight: 500;
    font-size: 1.5rem;
    
}
.feature-box-con{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}
.feature-box{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    
}
.box-title{
    font-weight: 600;
    font-size: 2.8rem;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #424242;
}
.box-p{
    font-weight: 600;
    font-size: 1.25;
    color: #727272;
}
.sof-heading{
    font-weight: bold;
    font-size: 2.8rem;
    margin-bottom: 24px;
   
}
.ppp{
    margin-bottom: 100px ;
}
.sponsor-info{
    text-align: center;
}
.sponsor-title{
    font-weight: bold;
    font-size: 2.8rem;
}
.sponsor-image{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}
.sponsor-image img{
    filter: grayscale(100%);
}
@media screen and (max-width:576px) {
    .nav-list , .nav-con , .feature-con{
        flex-direction: column;
    }
    .image-con , .feature-box-con ,.sponsor-image{
        grid-template-columns: repeat(1, 1fr);
    }
    .feature-box-con , .sponsor-image{
        gap: 24px;
    }
    .feature-des{
        margin-left: 20px;
    }
    .sponsor-info{
        margin: auto;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {
    .feature-box-con , .feature-con{
        flex-direction: column;
    }
    .image-con , .feature-box-con, .sponsor-image{
        
        grid-template-columns: repeat(2, 1fr);
    }
    .feature-box-con ,.sponsor-image{
        gap: 50px;
    }
    
}